body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    padding: 1em;
    background: #f4f4f4;
    text-align: center;
}

#filtro {
    width: 80%;
    padding: 0.5em;
    font-size: 1em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1em;
    padding: 1em;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    padding: 1em;
}

.card img {
    width: 100%;
    height: auto;
}

/* Popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup.hidden {
    display: none;
}

.popup-content {
    background: #fff;
    padding: 2em;
    border-radius: 8px;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

#cerrar {
    float: right;
    cursor: pointer;
    font-size: 1.5em;
}