header,
footer {
    background-color: #5b8787;
    color: white;
    text-align: center;
    padding: 1em;
}

.menu a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}